body {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    background-color: #53c1d1;
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    text-align: center;
    color: #fff;   
}

h1 {
    font-size: 120px;
    letter-spacing: 2.5rem;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.link{
    color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.link:hover {
    color: #777;
    
}


@media (max-width:1200px){
    h1 {
        font-size: 100px;
        letter-spacing: 2.2rem;
    }
}

@media (max-width:1000px){
    h1 {
        font-size: 80px;
        letter-spacing: 2rem;
    }
}

@media (max-width:850px){
    h1 {
        font-size: 60px;
        letter-spacing: 1.5rem;
    }
    h2 {
        letter-spacing: 0.3rem;
    }
    .coming-soon{
        padding-bottom: 50px;
    }
}

@media (max-width:650px){
    h1 {
        font-size: 50px;
        letter-spacing: 1.2rem;
    }
}

@media (max-width:550px){
    h1 {
        font-size: 45px;
        letter-spacing: 0.8rem;
        padding-bottom: 10px;
    }
    .slogan {
        font-size: 20px;
        letter-spacing: 0.2rem;
    }
}

@media (max-width:521px){
    h1 {
        font-size: 40px;
        letter-spacing: 0.7rem;
    }
    h2 {
        font-size: 25px;
        letter-spacing: 0.25rem;
    }
    .slogan {
        font-size: 18px;
        letter-spacing: 0.18rem;
    }
}